

services:
  flask-api:
    build: 
      context: ./prediction
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    networks:
      - app-network

  streamlit-app:
    build:
      context: .
      dockerfile:  ./appstreamlit/Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - flask-api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge